*{
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif;
    box-sizing: border-box;
}

body{
    background: #212428;   
}

nav{
    width: 90%;
    height:auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.logo-content{
    display: flex;
    align-items: center;
}

.logo-content img{
    height: 150px;
    width:500px;      
    opacity:0.5;
    padding:50px;
    margin-top:10px; 
}

.logo-content img:hover{
       opacity:1;
}

.list{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li{
    list-style: none;
    font-size: 12px;
    font-family:  "Montserrat", sans-serif;
   
}

ul li a{
    text-decoration: none;
    color:#EDEDEE;
}

.checkbtn{
    font-size:30px;
    color:red;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}

.brodr{
    width:100%;
    height:2px;
    background-color: rgb(104, 190, 134);
    opacity:0;
}

ul li a:hover + .brodr{
    animation: brdr-samp 1s ease;
 
}

@keyframes brdr-samp {
    from{
        width:0%;
        opacity:1;
    }
    to{
        width:100%;
        opacity:1;
    }
}

.buttn{
  
    background-color: rgb(35, 27, 27);
    border:none;
    cursor: pointer;
    color:red;
    height:30px;
    width:90px;
    border-radius: 6px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

.buttn:hover{
    color:rgb(226, 40, 201);
    transition:1s;
    transform: translateY(-5px);
}

.container{
    display: flex;
    width: 90%;
    height:auto;
    justify-content: space-around;   
    padding-left: 100px;
   
} 

.descrpt{
    margin-top: 50px;
    width: 90%;
    height:auto;
    
}

.descrpt h6{
    text-transform: uppercase;
    color:#c4cfde;
    font-family:"Montserrat", sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight:500; 
}

.descrpt h1{
    color:white;
    font-family:"Montserrat", sans-serif;
    letter-spacing: 3px;
    font-size: 50px;
    line-height:60px;
    padding-top:20px;
    font-weight: bold;
    margin-bottom: 22px;  
}

.descrpt p{
    color:#c4cfde;
    line-height: 30px;
    font-family:"Montserrat", sans-serif;
    font-size: 16px;
    width:90%;
    opacity:0.8;
    
}

/*.container img{
    margin-top: 20px;
    height:auto;
    width:90%; 
    margin-right: 500px;;
}*/
 .img-box{
    position: relative;
    width:30vw;
    height:30vw;
    border-radius: 50%;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
 .img-box::before,
 .img-box::after{
    content:'';
    position:absolute;
    width:500px;
    height:500px;
    background: conic-gradient(transparent,transparent,transparent,#7cf030);
    transform: rotate(0deg);
    animation:rot-bor 10s linear infinite ;
}

@keyframes rot-bor{
    100%{
        transform: rotate(360deg);
    }
}
.img-box::after{
    animation-delay: -5s;
}

.img-box .img-item{
    width:100%;
    height:100%;
    background: #1f242d;
    border-radius: 50%;
    border:.1px solid #1f242d;
    position:relative;
    z-index:1;
    overflow: hidden;
    display:flex;
    justify-content: center;

}
.img-box .img-item img{
    position: absolute;
    top:30px;
    display:block;
    width:70%;
    object-fit:cover;
    mix-blend-mode: lighten;
}

.maincls{
    display: flex;
    width:90%;
    height:auto;    
    justify-content:space-between; 
    margin-top: 50px; 
    
}

.social-share{
    color:#c4cfde;
    padding-top:60px;
    text-transform: uppercase;
    font-family:"Montserrat", sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight:500;    
}

.socialmedia{
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.socialmedia li{
    list-style: none;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialmedia li:hover{
    transform: translateY(-5px);
}

.socialmedia li a{
  
    line-height: 100px;
    cursor: pointer;
    color:#f6f6f6;
    background-color: #212428;
    text-decoration: none;
    border: 20px solid black;
    border-radius: 5px;
    opacity:0.4;
}

.socialmedia li a:hover{
    color: gray;
    transition:0.4s;
    opacity:1;
    transform: translateY(-5px);
}

.skills{
    color:#c4cfde;
    padding-top:60px;
    text-transform: uppercase;
    font-family:"Montserrat", sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight:500;    
}

.skilmedia{
    display: flex;  
    justify-content: space-between;
    padding-top:20px;
    width:50%;
}

.skilmedia li{
    list-style: none;
    
}

.skilmedia li img{
    
    width: 50px;
    height: 50px;
    margin:10px;
    padding:10px;
    background-color: #212428;
    border:1px solid black; 
    border-radius: 5px;    
}

.container-end{
    margin-top:40px;
    background-color:rgb(44, 41, 41);
    width:100%;
    height:2px;
}

.grid-main{
    color:red;
    width: 90%; 
    height:auto; 
    padding-left: 100px;
    font-family: "Montserrat", sans-serif;
    margin-top: 100px;
}

.grid-main h5{
    
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    line-height: 1.2;
}

.grid-main h6{
    color:#c4cfde;
    font-size: 70px;
    margin-top: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.2;
}

.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:30px;
    row-gap: 50px;
    width:90%;  
    height:auto;       
    
}

.grid-feat{
    width:90%;
    height:auto;
    padding-left: 20px;
    margin-left:100px;
    box-shadow: 10px 10px 19px #0e010aba, -10px -10px 19px #0c0d0f;
    border-radius:10px;
    justify-items: center;
   padding-bottom:20px;
    
}

.grid-feat:hover{
    transition:.5s;
    transform: translateY(-10px);
}

.grid-feat li{
    list-style:none;
    padding-top: 20px; 
   margin-left:40px; 
}

.grid-feat  li a{
    color: #c4cfde;
    width: 90%;
    text-decoration: none;
    margin-top: 10px;  
}

.grid-feat ul li h1{
    
    font-family:"Montserrat", sans-serif;
    letter-spacing: 3px;
    font-weight:700;
    padding-top:20px;
    
}

.grid-feat ul li p{
    padding-top:20px;
    line-height: 30px;
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    width:90%;
    opacity:0.8; 
    padding-bottom:20px;  
}

.font-st{
    font-size:30px;
    font-weight:200;
 
}


.resume-container h5{
    color:red;
    font-size: 14px;
    font-weight: 500;  
    letter-spacing:1px;
    line-height: 14px;
    margin-bottom: 10px;
    text-align: center;
    margin-top:70px;
    text-transform: uppercase;
}

.resume-container h2{
    color:#c4cfde;
    text-align:center;
    font-size: 50px;
    margin-top: 7px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing:1px;
}

.edu-pref{
    display: flex;
    width:90%;
   justify-content: space-between;
     height:50vh; 
     padding-left:40px;  
}

.edu{
    
    font-weight: 700;
    width: 90%;
    height:10px;
    margin-top: 50px;
    font-size: 14px;
    cursor: pointer;
    font-family:   "Montserrat", sans-serif;
    padding-left:70px;
    text-align: left;
}

.edu a{
    text-decoration: none;
    color:#EDEDEE;
}

.edu a:hover{
    color: red;
    transition:0.2s;
}

.edu p{
    font-weight: 700;
    width: 90%;
    height:10px;
    line-height:14px ;
   letter-spacing: 1px;
    font-size: 14px;
   font-family:  "Montserrat", sans-serif;
   color:#a0a8b3; 
   margin-top:30px;

}

.prfskill{
    
    font-weight: 700;
    width: 90%;
    height:10px;
    margin-top: 50px;
    font-size: 14px;
    cursor: pointer;
    font-family:  "Montserrat", sans-serif;
    padding-left:70px;
}

.prfskill a{
    text-decoration: none;
    color:#EDEDEE;
}

.prfskill a:hover{
    color: red;
    transition:0.2s;
}

.prfskill p{
    font-weight: 700;
    width: 90%;
    height:10px;
    line-height:14px ;
   letter-spacing: 1px;
    font-size: 14px;
   font-family:  "Montserrat", sans-serif;
   color:#a0a8b3; 
   margin-top:30px;

}

.expr{
    
    font-weight: 700;
    width: 90%;
    height:10px;
    margin-top: 50px;
    font-size: 14px;
    cursor: pointer;
    font-family:  "Montserrat", sans-serif;
    padding-left:70px;
    text-align: c;
}

.expr a{
    text-decoration: none;
    color:#EDEDEE;
}

.expr a:hover{
    color: red;
    transition:0.2s;
}

.expr p{
    font-weight: 700;
    width: 90%;
    height:10px;
    line-height:14px ;
   letter-spacing: 1px;
    font-size: 14px;
   font-family:  "Montserrat", sans-serif;
   color:#a0a8b3; 
   margin-top:30px;
}

.career{
    
    font-weight: 700;
    width: 90%;
    height:10px;
    margin-top: 50px;
    font-size: 14px;
    cursor: pointer;
    font-family:  "Montserrat", sans-serif;
    padding-left:70px;
    text-align: c;
}

.career a{
    text-decoration: none;
    color:#EDEDEE;
}

.career a:hover{
    color: red;
    transition:0.2s;
}

.career p{
    font-weight: 700;
    width: 90%;
    height:10px;
    line-height:14px ;
   letter-spacing: 1px;
    font-size: 14px;
   font-family:  "Montserrat", sans-serif;
   color:#a0a8b3; 
   margin-top:30px;

}

.prt{
    width:90%;
    height:auto;
    display:flex;
    justify-content: space-between;
}

.prt-content h5{
    color:red;
    font-size: 14px;
    font-weight: 500;  
    letter-spacing:1px;
    line-height: 14px;
    margin-bottom: 10px;
    text-align: center;
    margin-top:90px;
    font-family:  "Montserrat", sans-serif;
}

.prt-content h2{
    color:#c4cfde;
    text-align:center;
    font-size: 40px;
    margin-top: 7px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing:1px;
    font-family:  "Montserrat", sans-serif;
}

.skills-area{
    display:flex;
    flex-direction:column;
    padding-left:100px;
    width:50%;
    color:#c4cfde;
    font-family:  "Montserrat", sans-serif;
    margin-top:40px;
}

.skill{
    position:relative;
    margin-bottom:40px;
}

.skill-title{
    font-size:16px;
    margin-bottom:10px;
}

.skill-bar{
    width:100%;
    background:rgba(255,255,255,0.6);
    height:10px;
    z-index:-1;
    border-radius:100px;
    position:absolute;
}

.skill-fill{
    background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
    height:10px;
    border-radius:100px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right:30px;
    overflow:hidden;
}

.skill-percent{
    font-size:14px;
    color:blue;
}

.html{
    animation:html 2s linear infinite;
    width:80%;
    transition-duration: 0.5s;
}

.css{
    animation:css 2s linear infinite;
    width:70%;
    transition-duration: 0.5s;
}

.js{
    animation:js 2s linear infinite;
    width:60%;
    transition-duration: 0.5s;
}

@keyframes html{
    from{
        width:0%;

    }
    to{
        width:80%;
    }
}
@keyframes css{
    from{
        width:0%;

    }
    to{
        width:70%;
    }
}
@keyframes js{
    from{
        width:0%;

    }
    to{
        width:60%;
    }
}

.circle-container{
    width:70%;
    height:auto;
    display:flex;
    justify-content: space-between;
    padding-left:150px;
}
.circle{
    display:grid;
    place-items: center;
    width:150px;
    height:150px;
    margin-top:70px;
    border-radius: 50%;
    cursor:default;
    background: #fff;
}
.circle .circle-inner{
    display:grid;
    place-items: center;
    width:130px;
    height:130px;
    border-radius: 50%;
    background: #1d1e22;
    font-size:20px;
    color:#fff;
    

}
.circle-inner p{
    font-size:14px;
    font-family:"Montserrat", sans-serif;
}
.circle.aqua{
    color:aqua;
    background: conic-gradient(aqua 0 85%, #303238 85% 100%);
}

.circle.pink{
    color:pink;
    background: conic-gradient(pink 0 75%, #303238 75% 100%);
}
.circle.gold{
    color:gold;
    background: conic-gradient(gold 0 70%, #303238 70% 100%);
}
.contact-content h5{
    color:red;
    font-size: 14px;
    font-weight: 500;  
    letter-spacing:1px;
    line-height: 14px;
    margin-bottom: 10px;
    text-align: center;
    margin-top:90px;
    text-transform: uppercase;
}

.contact-content h2{
    color:#c4cfde;
    text-align:center;
    font-size: 40px;
    margin-top: 7px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing:1px;
}


.contact-flex{
    display: flex;
    width: 90%;
    height:auto;
    justify-content: space-between;   
    padding-left: 100px;     
} 

.contact-ti{
    margin-top:40px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 20px;
    margin-right:50px;
    height:auto;    
}


.contact-ti h5{
    color:white;
    font-family:"Montserrat", sans-serif;
    font-size: 29px;
    padding-top:20px;
    font-weight: bold;
    margin-bottom: 9px;
    width:90%;
    margin-left:20px;
}

.contact-ti p.sa{
    color:#c4cfde;
    line-height: 50px;
    font-family:"Montserrat", sans-serif;
    font-size: 16px;
    width:90%;
    opacity:0.8;
    margin-left:20px;
}

.contact-ti p.ct{
    color:#c4cfde;
    line-height:25px;
    font-family:"Montserrat", sans-serif;
    font-size: 16px;
    width:90%;
    opacity:0.8;
    margin-bottom: 20px;
    margin-left:20px;
}


.contact-ti p{
    margin-left:20px;
    color:#c4cfde;
    font-family:"Montserrat", sans-serif;
    font-size: 16px;
    width:90%;
    opacity:0.8;
    
}

.contact-ti img{
    margin:20px;
    width:500px;
    height:300px;
    border-radius: 20px;
    transition-duration: 0.5s;
    object-fit:contain;
  
}  

.contact-ti img:hover{
    transform:translate(-10px);
}

.contact-ti a{
    text-decoration: none;
    color:white;
}

.contact-ti a:hover{
    text-decoration:underline;
    color:red;
}

.contact-ti p.fm{
    color:#c4cfde;
    font-family:"Montserrat", sans-serif;
    font-size: 16px;
    margin-top: 30px;
    width:90%;
    opacity:0.8; 
}
.contact-media{
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 20px;   
}

.contact-media li{
    list-style: none;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-media li:hover{
    transform: translateY(-5px);
}

.contact-media li a{
    width: 60px;
    height: 60px;
    line-height: 100px;
    cursor: pointer;
    color:#f6f6f6;
    background-color: #212428;
    text-decoration: none;
    border: 20px solid black;
    border-radius: 5px;
    opacity:0.4;
}

.contact-media li a:hover{
    color: gray;
    transition:0.2s;
    opacity:1;
    
}

.contact-form{
    margin-top: 50px;
    height:auto;
    width:120%;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 10px;
    padding: 30px;
    margin-right:20px;
   
}

.contact-form label{
    
    font-family: "Montserrat", sans-serif;
    color: #a0a8b3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 14px;
    margin-top: 10px;
    
}

.contact-form input{
    margin-top: 20px;
    margin-bottom: 30px;;
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    width:100%; 
    border: 2px solid #191b1e;
    padding: 0 15px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: white;
    box-shadow:  1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    letter-spacing: 1px;
}

.contact-form textarea{
    height: 235px;
    background-color: #191b1e;
    border-radius: 6px;
    width:100%;
    border: 2px solid #191b1e;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Montserrat", sans-serif;
    color: white;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    letter-spacing: 1px;
    resize: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.bttn{
   
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    width:100%;
    height:55px;
    color:red;
    font-family: "Montserrat", sans-serif;
    background-color: #222529;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition: 1s;
    cursor:pointer;
    opacity: 0.5;
    letter-spacing: 1px;
}

.bttn:hover{
        opacity: 1;
    transform: translateY(-5px); 
}

.footer{
  text-align:center;
  color:    #a0a8b3;
  font-family:  "Montserrat", sans-serif ;
  margin-top: 40px;
  font-size: 14px;
  margin-bottom:20px;
  letter-spacing: 1px;
}

.footer p {
    margin-top: 10px;
   
}
.footer a {
    color: #a0a8b3;
   
}
.footer a:hover{
    color:red;
}

.footer img{
    height: 100px;
    width:300px;      
    padding:30px;
 }



@media(max-width:1200px){
    nav{
        width:100%;
    }
    
    .logo-content img{
        height: 100px;
        width:200px;      
        opacity:0.5;
        padding:10px;
        margin-top:10px;     
    }

    .list li{   
        font-size: 10px;       
    }

    .container{
        padding-left: 20px;
        width:100%;
    }

    .descrpt h6{
       
        font-size: 16px;
        font-weight:200; 
    }
   
    .descrpt h1{
     
        font-size: 30px;
        line-height:40px;
        padding-top:10px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .descrpt p{
        line-height: 30px;
        font-size: 16px;
        width:100%;
        opacity:0.8;   
    }
    .home-img{
        padding-right:20px;
    }

    .img-box .img-item img {
        top: -10px;
    }
    .descrpt{
        margin-top: 60px;
    }
    .maincls {
        margin-top: 20px;
    }
    
    .social-share{
        padding-top:10px;
        font-size: 14px;
        font-weight:400;    
    }

    .socialmedia{
         width: 60%;
         gap:10px;
    }

    .socialmedia li{
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .skills{
        padding-top:20px;
        font-size: 14px;
        font-weight:400;    
    }

    .skilmedia{
        padding-top:10px;
        width:70%;
    }

    .container-end{
        margin-top:20px;
    }

    .grid-main{
        padding-left: 10px;
        margin-top: 50px;
    }

    .grid {
        grid-template-columns: repeat(2,1fr);
        column-gap: 60px;
        row-gap: 40px;
    }

    .grid-feat {
       
        padding-left: 0px;
        margin-left: 20px;
        width:110%;
    }


    .grid-main h5{
        text-align: center;
        font-weight: 500;
        font-size:20px;
    }

    .grid-main h6{
        font-size:50px;
        font-weight: 500;
        margin-bottom: 30px;
        text-align: center;
    }
    .grid-feat li{
       padding-top: 10px; 
       margin-left: 20px; 
    }

    .grid-feat ul li h1{
        letter-spacing: 2px;
        font-weight:600;
        font-size:20px;
        padding-top:10px;
    }

    .grid-feat ul li p{
        padding-top:10px;
        line-height: 25px;
        font-size: 18px;
        opacity:0.8; 
        padding-bottom:10px;  
    }

    .font-st{
       font-size:15px;
    }

    .resume-container h5{
        font-size: 18px;
        font-weight: 500;  
        line-height: 10px;     
        margin-top:50px;
    }
    
    .resume-container h2{
        font-size: 35px;
        font-weight: 700;
        padding-bottom:40px;
    }
    
    .edu-pref{
        width:100%;
        height:25vh; 
        padding-left:10px;  
    }
    
    .edu{
        width:33%;
        margin-top: 50px;
        font-size: 18px;
        padding-left:20px;
       font-weight:400;
    }
  
    .edu p{ 
        font-weight: 500;
        height:10px;
        line-height:12px;
        font-size: 16px;
        margin-top:25px;
    }
    
    .prfskill{   
        width:33%;
        margin-top: 50px;
        font-size: 18px;
        padding-left:20px;
        font-weight:400;
       
    }
    
    .prfskill p{
        font-weight: 500;
        height:10px;
        line-height:12px;
        font-size: 16px;
        margin-top:25px;
    
    }  
    .expr{ 
        width:33%;
          margin-top: 50px;
        font-size: 18px;
        padding-left:20px;
        font-weight:400;
        
     }
    
    .expr p{
        font-weight: 500;
        line-height:12px;
        font-size: 16px;
        margin-top:25px;
    
    }

    .career{ 
        width:33%;
          margin-top: 50px;
        font-size: 18px;
        padding-left:20px;
        font-weight:400;
        
     }
    
    .career p{
        font-weight: 500;
        line-height:12px;
        font-size: 16px;
        margin-top:25px;
    
    }

    .skills-area{
        padding-left:20px;
        width:50%;
        margin-top:30px;
    }
    
        
    .circle-container{
        width:90%;
        padding-left:50px;
       justify-content: space-between;
       align-items: center;
    }
    .circle{
        width:120px;
        height:120px;
        margin-top:0px;
        border-radius: 50%;
    }
    
    .circle .circle-inner{
      
        width:100px;
        height:100px;
        font-size:12px; 
    }
    
    .circle-inner p{
        font-size:12px;
        text-align: center;
        overflow:hidden;
       
    }

    .contact-flex {
      
        padding-left: 20px;
        width:100%;
    }

    .contact-form{
        width:90%;        
    }


    .contact-content h5{
        font-weight: 500; 
        font-size:18px; 
        line-height: 10px;
        margin-top:50px;
    }
    
    .contact-content h2{
        font-size: 35px;
        font-weight: 600;
        margin-bottom:30px;
    }

    .contact-flex{
        width: 100%;
        padding-left: 10px;   
    } 
    
    .contact-ti{
        margin-top:30px;
        margin-right:50px;
        height:auto;
        width:50%;
    }
    
    .contact-ti h5{
        font-size: 26px;
        line-height:30px; 
        margin-top:-0px;
        font-weight:300;
    }
    
    .contact-ti p.sa{
        line-height: 50px;
        font-size:22px;
        font-weight:500;
    }
    .contact-ti p.ct{
         font-size:18px;
         font-weight:300;
    
    }

    .contact-ti p{
        font-size:18px;
        line-height:28px;
        letter-spacing: 1px;
   }
       
    .contact-ti img{
        width:300px;
        height:300px;   
        object-fit: cover; 
    }  
      
    .contact-ti p.fm{
           margin-top: 20px;
          font-size: 14px;
    }

    .contact-media{ 
        width: 60%;
        gap: 30px;
        padding-left:60px;   
    }
    
    .contact-form{
        margin-top: 30px;
        width:100%;
        height:75vh;
        padding: 20px;
        margin-right:0px;   
    }    

    
    .contact-form label{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .contact-form input{
        margin-top: 10px;
        margin-bottom: 10px;;
        height: 40px;
        padding: 0 10px;
        font-size: 10px;
   }

    .contact-form textarea{
        height: 253px;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 12px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .bttn{
        font-size: 18px;
        font-weight: 700;
        height:40px;
    }      
    .footer{ 
        margin-top: 30px;  
        font-size: 20px;
        margin-bottom:20px;
    }
    
    .footer p {
        margin-top: 20px; 
    }
 
    .footer img{
        height: 100px;
        width:200px;      
        padding:20px;
     }
}


@media(max-width:600px){

    /*body{
        overflow:hidden;
    }*/


    nav{
        width:90%;
    }
    
    .logo-content img{
        height: 70px;
        width:200px;      
        opacity:0.3;
        padding:10px;
        margin-top:10px;     
    }
 
    .buttn{     
        height:10px;
        border-radius: 3px;
        box-shadow: 5px 5px 10px #1c1e22, -5px -5px 10px #262a2e;
     }

     .checkbtn{
        display:block;
     }

    .list {
        position: fixed;
        width:100%;
        height:100vh;
        background:#2c3e50;
        top:80px;
        left:-100%;
        text-align: center;
     }

    .list li{
        display:block;
        margin:50px 0;
        line-height:30px;
     }
     
     .container{
        padding-left: 20px;
        width:100%;
        flex-direction:column-reverse;
    }

    .descrpt h6{
       width:100%;
        font-size: 14px;
        font-weight:500; 
    }
   
    .descrpt h1{
        font-size: 20px;
        line-height:40px;
        padding-top:10px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    
    .descrpt p{
        line-height: 25px;
        font-size: 14px;
        width:100%;
        opacity:0.8;   
    }
    
    .maincls{
         flex-direction: column-reverse;
         width:100%;  
         margin-top: 0px; 
    }

    .social-share{
        padding-top:20px;
        font-size: 14px;
        font-weight:300;    
    }

    .socialmedia{
         width: 60%;
         gap:10px;
    }

    .socialmedia li{
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .skills{
        padding-top:20px;
        font-size: 14px;
        font-weight:300;    
    }

    .skilmedia{
        padding-top:10px;
        width:60%;
    }

    .container-end{
        margin-top:20px;
    }

    .img-box{
        margin-top:30px;
        width:30vw;
        height:30vw; 
    }

    .img-box .img-item img{
        top:15px;
    }
    
    .grid-main{
         padding-left: 10px;
        margin-top: 30px;   
    }
    .grid-main h5{
        text-align: center;
        font-weight: 400;
    }

    .grid-main h6{
        font-size:30px;
        font-weight: 500;
        margin-bottom: 30px;
        text-align: center;
    }

    .grid{
        grid-template-columns:repeat(1,1fr);
        width:85%;  
        height:auto;       
    }

    .grid-feat{
        padding-left: 10px;
        margin-left:20px;
    }

    .grid-feat li{
       padding-top: 10px; 
       margin-left: 20px; 
    }

    .grid-feat ul li h1{
        letter-spacing: 2px;
        font-weight:400;
        font-size:20px;
        padding-top:10px;
    }

    .grid-feat ul li p{
        padding-top:10px;
        line-height: 20px;
        font-size: 14px;
        opacity:0.8; 
        padding-bottom:10px;  
    }

    .font-st{
       font-size:20px;
    
    }

    .resume-container h5{
        font-size: 14px;
        font-weight: 500;  
        line-height: 10px;     
        margin-top:50px;
    }
    
    .resume-container h2{
        font-size: 25px;
        font-weight: 500;
    }
    
    .edu-pref{
        width:76%;
        height:30vh; 
        padding-left:10px;  
    }
    
    .edu{
       
        margin-top: 25px;
        font-size: 12px;
        padding-left:0px;
      
    }
  
    .edu p{ 
        font-weight: 300;
        height:10px;
        line-height:12px;
        font-size: 12px;
        margin-top:25px;
    }
    
    .prfskill{   
        margin-top: 25px;
        font-size: 12px;
        padding-left:10px;
    }
    
    .prfskill p{
        font-weight: 300;
        height:10px;
        line-height:12px ;
        font-size: 12px;
        margin-top:25px;
    
    }  
    .expr{ 
          margin-top: 25px;
        font-size: 12px;
        padding-left:10px;
     }
    
    .expr p{
        font-weight: 300;
        line-height:12px ;
        font-size: 12px;
        margin-top:25px;
    
    }

    .career{ 
        margin-top: 25px;
      font-size: 12px;
      padding-left:10px;
   }
  
  .career p{
      font-weight: 300;
      line-height:12px ;
      font-size: 12px;
      margin-top:25px;
  
  }

  .prt-content h5{
    font-weight: 600;  
    line-height: 10px;
    margin-top:30px;
}

.prt-content h2{
    font-size: 25px;
    font-weight: 600;
}

.skills-area{
   
    padding-left:10px;
    width:100%;
    margin-top:30px;
}

.skill-title{
    font-size:14px;
    margin-bottom:10px;
}

.skill-bar{ 
    height:10px;

}

.skill-fill{
    
    height:10px;
}

.skill-percent{
    font-size:14px;
}


.circle-container{
    width:40%;
    padding-left:70px;
    display:grid;
    grid-template-rows: repeat(1,1fr);
}
.circle{
    width:100px;
    height:100px;
    margin-top:20px;
    border-radius: 50%;
    cursor:default;
    background: #fff;
}

.circle .circle-inner{
  
    width:80px;
    height:80px;
    font-size:10px; 
}

.circle-inner p{
    font-size:10px;
    text-align: center;
    overflow:hidden;
   
}
    .contact-content h5{
        font-weight: 600;  
        line-height: 10px;
        margin-top:30px;
    }
    
    .contact-content h2{
        font-size: 25px;
        font-weight: 600;
    }

    .contact-flex{
        width: 100%;
        padding-left: 30px;   
        flex-direction: column-reverse;  
    } 
    
    .contact-ti{
        margin-top:50px;
        margin-right:50px;
        height:auto;
        width:90%;
        
    }
    
    .contact-ti h5{
        font-size: 20px;
        line-height:30px; 
    }
    
    .contact-ti p.sa{
        line-height: 30px;
        font-size:16px;
    }
    .contact-ti p.ct{
         font-size:14px;
    }

    .contact-ti p{
        font-size:12px;
   }
       
    .contact-ti img{
        width:300px;
        height:300px;    
        object-fit: cover;
    }  
      
    .contact-ti p.fm{
           margin-top: 20px;
          font-size: 16px;
    }

    .contact-media{ 
        width: 70%;
        gap: 10px;   
    }
    
    .contact-form{
        margin-top: 30px;
        width:100%;
        padding: 20px;
        margin-right:0px; 
        height:auto;  
    }    

    
    .contact-form label{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .contact-form input{
        margin-top: 10px;
        margin-bottom: 10px;;
        height: 40px;
        padding: 0 10px;
        font-size: 12px;
   }

    .contact-form textarea{
        height: 200px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .bttn{
        font-size: 16px;
        font-weight: 600;
        height:40px;
    }      
    .footer{ 
        margin-top: 30px;  
        font-size: 14px;
        margin-bottom:20px;
    }
    
    .footer p {
        margin-top: 20px; 
    }
 
    .footer img{
        height: 50px;
        width:150px;      
        padding:10px;
     }
    
}
